@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

* {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  background-color: #233D4D;
  color: white;
  max-width: 100%;
}

.Container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0;

  // .sidebar {
  //   width: 30%;
  // }

  // .main {
  //   width: 70%;
  // }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}